<!-- Roll Type Buttons (Dis/Norm/Adv) -->
<div class="stat-row">
    <span class="stat-label">{{localize "DAGGERHEART.APPLICATIONS.TagTeamSelect.rollType"}}</span>
    <div class="roll-type-buttons dp-roll-type">
        <button type="button"
            data-action="setRollType"
            data-value="-1"
            class="roll-btn {{#if isDisadvantage}}active{{/if}}"
            title="{{disTitle}}">
            {{localize "DAGGERHEART.GENERAL.Disadvantage.short"}}
        </button>
        <button type="button"
            data-action="setRollType"
            data-value="0"
            class="roll-btn {{#if isNormal}}active{{/if}}"
            title="{{normTitle}}">
            {{localize "DHAM.DiceProbability.Norm"}}
        </button>
        <button type="button"
            data-action="setRollType"
            data-value="1"
            class="roll-btn {{#if isAdvantage}}active{{/if}}"
            title="{{advTitle}}">
            {{localize "DAGGERHEART.GENERAL.Advantage.short"}}
        </button>
    </div>
</div>
