<!-- NEW FEATURES SECTION -->
{{#if allSuggestedFeatures.length}}
<div class="features-preview-section">
    <div class="lm-new-features-header">
        <h4 class="features-header lm-new-features-title">New Features</h4>
        <div class="feature-header-controls">
            <select class="suggestion-tier-select">
                {{#each suggestedFeaturesTierOptions}}
                    <option value="{{this.value}}" {{#if this.selected}}selected{{/if}}>{{this.label}}</option>
                {{/each}}
            </select>
            <select class="suggestion-type-select">
                {{#each suggestedFeaturesTypeOptions}}
                    <option value="{{this.value}}" {{#if this.selected}}selected{{/if}}>{{this.label}}</option>
                {{/each}}
            </select>
        </div>
    </div>
    <div class="feature-changes-list">
        {{#each allSuggestedFeatures}}
            <div class="feature-change-row new-feature-row" {{#if this.description}}data-tooltip="{{this.description}}"{{/if}}>
                <label class="feature-label new-feature-label">
                    <input type="checkbox" class="feature-checkbox new-feature-checkbox" data-feature="{{this.name}}" {{#if this.checked}}checked{{/if}}>
                    <a class="feature-link new-feature-link" data-action="openFeature" data-uuid="{{this.uuid}}">
                        {{#if this.img}}
                            <img src="{{this.img}}" class="feature-icon-small" alt="{{this.name}}">
                        {{/if}}

                        <strong class="new-feature-name">{{this.name}}</strong>

                        {{#if this.tags.action.label}}
                            <span class="dh-tag {{this.tags.action.css}}">{{this.tags.action.label}}</span>
                        {{/if}}
                        {{#if this.tags.tier}}
                            <span class="dh-tag tag-tier">{{this.tags.tier}}</span>
                        {{/if}}
                        {{#if this.tags.type}}
                            <span class="dh-tag tag-type">{{this.tags.type}}</span>
                        {{/if}}
                        {{#if this.tags.homebrew}}
                            <span class="dh-tag tag-homebrew">{{this.tags.homebrew}}</span>
                        {{/if}}

                        {{#if this.isRuleSuggestion}}
                            <i class="fas fa-star new-feature-star" title="Recommended"></i>
                        {{/if}}
                    </a>
                </label>
            </div>
        {{/each}}
    </div>
</div>
{{/if}}